@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "inter", sans-serif !important  ;
}

.react-calendar__navigation__label__labelText {
  font-weight: 800 !important;
}

.react-calendar__tile--active {
  background-color: #c3cbfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px, 20px !important;
}
.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}
